<h1>Dashboard</h1>

<!--Allows me to collect info for multiple model/tables from one form-->

<!--Proforma-->
<%= form_for @proforma do |p| %>
  <%= p.label :name %> <br/>
  <%= p.text_field :name %> <br/>

  <%= p.label :address %> <br/>
  <%= p.text_field :address %> <br/>

  <%= p.label :state %> <br/>
  <%= p.text_field :state %> <br/>

  <%= p.label :sqft %> <br/>
  <%= p.text_field :sqft %> <br/>

  <%= p.label :units %> <br/>
  <%= p.text_field :units %> <br/>

  <%= p.label :purchase_price %> <br/>
  <%= p.text_field :purchase_price %> <br/>

  <%= p.label :sale_price %> <br/>
  <%= p.text_field :sale_price %> <br/>

  <%= p.label :rev_growth %> <br/>
  <%= p.text_field :rev_growth %> <br/>

  <%= p.label :opex_growth %> <br/>
  <%= p.text_field :opex_growth %> <br/>

  <%= p.label :vacancy %> <br/>
  <%= p.text_field :vacancy %> <br/>

  <%= p.label :discount_rate %> <br/>
  <%= p.text_field :discount_rate %> <br/>

<!--Revenue-->
<%= fields_for @revenue do |r| %>
  <%= r.label :rent %> <br/>
  <%= r.text_field :rent %> <br/>

  <%= r.label :parking %> <br/>
  <%= r.text_field :parking %> <br/>

  <%= r.label :storage %> <br/>
  <%= r.text_field :storage %> <br/>

  <%= r.label :pet %> <br/>
  <%= r.text_field :pet %> <br/>

  <%= r.label :laundry %> <br/>
  <%= r.text_field :laundry %> <br/>

  <%= r.label :vending %> <br/>
  <%= r.text_field :vending %> <br/>

  <% end %>

<!--Operating Expenses-->
<%= fields_for @operating_expense do |e| %>
  <%= e.label :management_fees %> <br/>
  <%= e.text_field :management_fees %> <br/>

  <%= e.label :administrative_fees %> <br/>
  <%= e.text_field :administrative_fees %> <br/>

  <%= e.label :payroll_and_benefits %> <br/>
  <%= e.text_field :payroll_and_benefits %> <br/>

  <%= e.label :maintenance %> <br/>
  <%= e.text_field :maintenance %> <br/>

  <%= e.label :utilities %> <br/>
  <%= e.text_field :utilities %> <br/>

  <%= e.label :real_estate_taxes %> <br/>
  <%= e.text_field :real_estate_taxes %> <br/>

  <%= e.label :miscellaneous %> <br/>
  <%= e.text_field :miscellaneous %> <br/>

  <% end %>


<%= p.submit "Submit" %>
<% end %>




<!-- <form action="/proformas" method="post">

  <h3>Property Information</h3>
   Name <input type="text" name="name"><br/>
   Address <input type="text" name="address"><br/>
   City, State <input type="text" name="state"><br/>
   Square Feet <input type="number" name="sqft"><br/>
   # of Units <input type="number" name="units"><br/>
   Purchase Price <input type="number" name="purchase_price"><br/>
   Sale Price <input type="number" name="sale_price"><br/>


  <h3>Revenues</h3>
   Rent Income <input type="number" name="rent"><br/>
   Parking <input type="number" name="parking"><br/>
   Storage <input type="number" name="storage"><br/>
   Pet fees <input type="number" name="pet"><br/>
   Laundry <input type="number" name="laundry"><br/>
   Vending <input type="number" name="vending"><br/>

  <h3>Operating Expenses</h3>
   Management_fees <input type="number" name="management_fees"><br/>
   Administrative_fees <input type="number" name="administrative_fees"><br/>
   Payroll_and_benefits <input type="number" name="payroll"><br/>
   Maintanace <input type="number" name="maintenance"><br/>
   Utilities <input type="number" name="utilities"><br/>
   Insurance <input type="number" name="insurance"><br/>
   Real Estate Taxes <input type="number" name="re_taxes"><br/>
   Miscellaneous <input type="number" name="miscellaneous"><br/>

  <h3>Assumptions</h3>
   Revenue Growth Rate <input type="number" name="rev_growth"><br/>
   Opex Growth Rate <input type="number" name="opex_growth"><br/>
   Vacancy <input type="number" name="vacancy"><br/>
   Discount Rate (required rate of return) <input type="number" name="discount_rate"><br/>



<br/>
  <button>Submit</button>

</form> -->