
<div class="container-fluid">
  <h1>Proforma</h1>

  <%= @p.name %><br/>
  <%= @p.address %><br/>
  <%= @p.state %><br/>



  <h5>Revenues</h5>
  <div class="row">

    <div class="span2">
      <h5>. </h5>
      Rent:<br/>
      Parking:<br/>
      Storage:<br/>
      Pet:<br/>
      Laundry:<br/>
      Vending:<br/>
      Total Revenue:<br/>
    </div>

    <% 10.times do |year| %>
      <div class="span2">
        <h5>Year <%= year + 1 %></h5>
         <%= number_to_currency(@base_rev.rent * ((1 + @p.rev_growth)**year)) %><br/>
         <%= number_to_currency(@base_rev.parking * (1 + @p.rev_growth)**year)%><br/>
         <%= number_to_currency(@base_rev.storage * (1 + @p.rev_growth)**year)%><br/>
         <%= number_to_currency(@base_rev.pet * (1 + @p.rev_growth)**year)%><br/>
         <%= number_to_currency(@base_rev.laundry * (1 + @p.rev_growth)**year)%><br/>
         <%= number_to_currency(@base_rev.vending * (1 + @p.rev_growth)**year)%><br/>
         <%= number_to_currency(@base_rev.rent + @base_rev.parking + @base_rev.storage + @base_rev.pet + @base_rev.laundry + @base_rev.vending) %>
      </div>
    <% end %>
  </div>



  <h5>Operating Expenses</h5>
  <div class="row">

<div class="span2">
      <h5>. </h5>
      Management Fees:<br/>
      Administrative Fees:<br/>
      Payroll and Benefits:<br/>
      Maintenance:<br/>
      Utilities:<br/>
      Real Estate Taxes:<br/>
      Miscellaneous:<br/>
      Total Operating Expenses:<br/>
    </div>

    <% 10.times do |year| %>
      <div class="span2">
        <h5>Year <%= year + 1 %></h5>
         <%= number_to_currency(@base_opex.management_fees * ((1 + @p.opex_growth)**year)) %><br/>
         <%= number_to_currency(@base_opex.administrative_fees * (1 + @p.opex_growth)**year)%><br/>
         <%= number_to_currency(@base_opex.payroll_and_benefits * (1 + @p.opex_growth)**year)%><br/>
         <%= number_to_currency(@base_opex.maintenance * (1 + @p.opex_growth)**year)%><br/>
         <%= number_to_currency(@base_opex.utilities * (1 + @p.opex_growth)**year)%><br/>
         <%= number_to_currency(@base_opex.real_estate_taxes * (1 + @p.opex_growth)**year)%><br/>
         <%= number_to_currency(@base_opex.miscellaneous * (1 + @p.opex_growth)**year)%><br/>
         <% total_opex = @base_opex.management_fees + @base_opex.administrative_fees + @base_opex.payroll_and_benefits + @base_opex.maintenance + @base_opex.utilities + @base_opex.real_estate_taxes + @base_opex.miscellaneous %>

         <%= number_to_currency(total_opex) %>
      </div>
    <% end %>

  </div>



<h5>Net Operating Income</h5>
  <div class="row">

<div class="span2">
      <h5>. </h5>
      Net Operating Income:<br/>
    </div>

 <% 10.times do |year| %>
      <div class="span2">
        <h5>Year <%= year + 1 %></h5>
         <%= noi = (@base_rev.rent + @base_rev.parking + @base_rev.storage + @base_rev.pet + @base_rev.laundry + @base_rev.vending) - (@base_opex.management_fees + @base_opex.administrative_fees + @base_opex.payroll_and_benefits + @base_opex.maintenance + @base_opex.utilities + @base_opex.real_estate_taxes + @base_opex.miscellaneous) %>

         <!--@npv = -p + @noi/(1+r)**1 + @noi_year2/(1+r)**2 + (@noi_year3+sale)/(1+r)**3-->

      </div>
    <% end %>

  </div>



  <h5>30 Year Mortgage</h5>
  <%= ZillowRuby.thirty_year_fixed%>

  </div>

</div>



<h3><%= link_to "Log out", log_out_path %></h3>



